Topic: Optimized Version of Dijkstra's

VISION:
	
	input: graph of some sorts (data set of Charlottesville)

	output: depends on the library (Java), plot out the nodes and the edges. Highlight the edges to get the shortest path from starting to all the other nodes.
			If we were doing one, we would highlight the shortest one (different color)

PLAN:
	
	phase 1: prepare dataset
			 write the algorithm for the small dataset
			 run algorithm on the dataset (test for correctness)

	phase 2: displaying the results
			 working with the GUI
	
	phase 3: optmizing for speed and other parameters

	phase 4: all the extra shit

	
